.base {
        
        top: 0px;
        left: 0px;
        /*width: 1680px;
        height: 960px;*/
        width: auto;
        height: auto;
        background: var(---ffffff-white) 0% 0% no-repeat padding-box;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        
}
.container {
    
        top: 322px;
        left: 659px;
        width: 362px;
        height: 316px;
        opacity: 1;
    
        }


.p-con {
   /* top: 322px;
    left: 723px;
    width: 234px;
    height: 24px;
    font-size: 100px;    
    font-weight: bold;
    font-style:normal;
    letter-spacing: 0;
    color: 5e81f4;
    text-align: center;
    font: normal normal bold 20px/24px Lato;
    letter-spacing: 0px;
    color: #5E81F4;
    text-transform: uppercase;
    opacity: 1;*/
    
    
    -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      position: absolute;
      top: 250px;
      left: 50%;
   width: 234px;
    height: 24px;
    font-size: 15px;    
    font-weight: bold;
    font-style:normal bold;
    letter-spacing: 0;
    letter-spacing: 0px;
    color: #5E81F4;
    text-transform: uppercase;
    opacity: 1;
}


.d_con {
   -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      position: absolute;
      top: 350px;
      left: 48%;
    width: 362px;
    height: 152px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 60px/80px var(--unnamed-font-family-lato);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-8181a5);
    text-align: center;
    font: normal normal normal 60px/80px Lato;
    letter-spacing: 0px;
    color: #8181A5;
    opacity: 1;
}
.ui {
    -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      position: absolute;
      top: 380px;
      left: 48%;
    
}